/.idea/*
/_archive/*
/checkpoints/*
/data/generated/*
/data/prep/*
/data/raw/*
!/data/raw/debug/*
/hf_hub/*
/logs/*
/logs/wandb/*
/src/molreactgen/playground/*
.ipynb_checkpoints
.mypy_cache
.pytest_cache
*alias
*.ignore
*.numbers
*.png
*.pyc
*.svg
*.tar.gz
*.whl
*.zip
.coverage
.DS_Store
.secrets.yaml
