/.idea/*
/checkpoints/*
/data/generated/*
/data/prep/*
/data/raw/*
!/data/raw/debug
/docs/*
/logs/*
/src/molreactgen/checkpoints/*
/src/molreactgen/generated/*
/src/molreactgen/logs/*
/src/molreactgen/models/*
/src/molreactgen/playground/*
/src/molreactgen/tokenizers/*
/src/molreactgen/wandb/*
/tests/htmlcov/*
.ipynb_checkpoints
.mypy_cache
.pytest_cache
*.json
*.numbers
*.ignore
*.pyc
.coverage
.DS_Store
.secrets.yaml
