/.idea/*
/_archive/*
/checkpoints/*
/data/generated/*
/data/prep/*
/data/raw/*
!/data/raw/debug
/experiments/*
/logs/*
/src/molreactgen/checkpoints/*
/src/molreactgen/generated/*
/src/molreactgen/logs/*
/src/molreactgen/models/*
/src/molreactgen/playground/*
/src/molreactgen/tokenizers/*
/src/molreactgen/utils/*.csv
/src/molreactgen/utils/*.md
/src/molreactgen/utils/wandb/*
/src/molreactgen/wandb/*
/tests/htmlcov/*
/wandb/*
.ipynb_checkpoints
.mypy_cache
.pytest_cache
*.ignore
*.json
*.numbers
*.png
*.pyc
*.svg
*.zip
.coverage
.DS_Store
.secrets.yaml
